.field{
  margin-bottom: 20px;
}
.field label{
  display: block;
  margin-bottom: 0 0 10px 0;
  color: #222;
  font-weight: 700;
  font-size: 20px;

}
.field input{
  background-color: #fff;
  outline: none;
  font-size: 20px;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  color: #222;
}